<div class="jumbotron">
	<h2>Firefly Illuminating Health and Wellness</h2>

	<p>
		Welcome to Firefly, the portal that  lets you access information so you can choose insurance, doctors and filling prescriptions that are
		tailored to your healthcare needs and goals. We aim to provide you the best options, all in one place.
	</p>

	<p>
		Find a way to better living and a healthier life with Firefly!
	</p>
	<p>
		<button class="btn btn-lg btn-success">
			click sign-up in the top right!
		</button>
	</p>
</div>