<div class="jumbotron">
	<h2>Firefly Illuminating Health and Wellness</h2>

	<p>
		Welcome to Firefly, the portal that  lets you access information so you can choose insurance, doctors and filling prescriptions that are
		tailored to your healthcare needs and goals. We aim to provide you the best options, all in one place.
	</p>

	<p>
		Find a way to better living and a healthier life with Firefly! What are you waiting for?
	</p>
	<p>
      <%# link_to "Sign up today!", new_user_registration_path, :class => 'btn btn-lg btn-success'  %>
      <% if user_signed_in? %>

          <%= link_to 'Check our options!', user_index_path, :class => 'btn btn-lg btn-success' %>
          <%# link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
          <%= link_to "Sign up now!", new_user_registration_path, :class => 'btn btn-lg btn-success'  %>
      <% end %>


	</p>
</div>